go 1.20

use (
	./aggregator
	./cart
	./category
	./common
	./database
	./frontend
	./gateway
	./inventory
	./order
	./payment
	./product
	./review
	./server
	./shipping
	./user
	./vendor_payment
	./vendor_shipping
	./warehouse
)
